

/* Position the details as a fixed button */
details {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
}

/* Styling the summary to look like a burger icon */
summary {
    width: 56px;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background: #76757B;
    padding: 17px 21px;
    border-radius: 16px;
}

/* Hide the default triangle icon */
summary::-webkit-details-marker {
    display: none;
}

/* Creating burger lines */
.burger-line {
    display: block;
    width: 40px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    transition: 0.3s;
}

/* Rotate lines when menu is open */
details[open] .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}



details[open] .burger-line:nth-child(2) {
    transform: translateY(-10px) rotate(-45deg);
}
/* Menu styles */
details div {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 60px 20px;
}

/* Styling links */
details p {
    margin: 10px 0;
}

details a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* Close menu when clicking outside */
details[open] summary {
    position: fixed;
    top: 10px;
    left: 10px;
}