* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #140E17;
    width: 100%;
    font-family: "Manrope", sans-serif;
}

/******CONTAINERS*********/
.container-1018 {
    max-width: 1018px;
    width: 100%;
    margin: 64px auto 0 auto;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 80px auto 0 auto;
}

/********** HEADER *********/

.header-wrapper {
    background-color: #333333;
    border-radius: 33px;
    padding: 24px 18px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 41px;
}

.logo {
    max-width: 191px;
    width: 100%;
    height: auto;
}


.menu {
    display: flex;
    gap: 24px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

/*****LOGIN*****/
.profile {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    cursor: pointer;
}

.profile-icon {
    width: 56px;
    height: auto;
}

details {
    display: none;
}

/*CTA*/
.CTA {
    display: flex;
    flex-direction: column;
}

.cta-body {
    display: flex;

}

.cta-h1 {
    position: absolute;
    right: 13px;
    top: -14px;
}

.cta-underline {
    position: absolute;
    bottom: 108px;
    left: 57px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    max-width: 539px;
    width: 100%;
    height: auto;
    gap: 53px;
    position: relative;
    margin-bottom: 64px;
}


.cta-text h1 {
    font-size: 68px;
    font-weight: 800;
    color: white;
    line-height: 110%;
}

.cta-text h1 span {
    white-space: nowrap;
}

.cta-text p {
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}


/*cta form*/

.cta-form {
    height: 61px;
    display: flex;
    gap: 34px;
}

.cta-form form {
    max-width: 317px;
    width: 100%;
}

.cta-form input {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    padding: 18px 14px;
    border: none;
    outline: none;
    color: #76757B;
}

::placeholder {
    color: #76757B;
}

.cta-button {
    display: flex;
    align-items: center;
    max-width: 222px;
    width: 100%;
    height: auto;
    background: #F5FA93;
    color: black;
    border-radius: 18px;
    padding: 18px 14px;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}

.button-body {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

/*CARDS SECTION*/

.cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card {
    max-width: 317px;
    width: 100%;
    height: auto;
    border-radius: 32px;
    border: 1px solid #F5FA93;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card-image {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 6px;
}

.snowflake {
    justify-content: center;
}

.star {
    justify-content: flex-end;
}

.card h2 {
    color: white;
    font-size: 42px;
    line-height: 54px;
}

.card p {
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

/*WORK EXPERIENCE SECTION*/
.work-experience {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;
    gap: 10px;
}

.work-experience .left {
    display: flex;
    align-items: flex-end;
    max-width: 545px;
    width: 100%;
}
.work-experience-title {
    color: #AADB6B;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 3px;
}

.companies-list {
    display: flex;
    flex-direction: column;
    gap: 21px;
    border: 1px solid #333333;
    border-radius: 24px;
    width: 100%;
    padding: 18px;

}
.company .company-info .company-name {
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}
.company-link a {
    display: block;
    color: #76757B;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.company .working-period,
.position {
    color: #76757B;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

}

.position {
    color: white;
}

/*Company card*/
.company-card {
    max-width: 220px;
    width: 100%;
    background: #FFAFB0;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 21px;
    gap: 12px;
}

.company-card h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}

.company-card p {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;

}

.company-card-btn {
    display: flex;
    justify-content: flex-end;
}

.company-card-btn a {
    display: flex;
    gap: 6px;
    justify-content: center;
    max-width: 118px;
    width: 100%;
    height: auto;
    padding: 12px 10px;
    border-radius: 18px;
    border: 1px solid #333333;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    line-height: 24px;
}

/*Try free*/
.try-free {
    border: 1px solid #333333;
    border-radius: 32px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
}

.try-free p {
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.try-free-btn {
    display: flex;
    justify-content: flex-end;
}

.try-free a {
    border: 1px solid #333333;
    border-radius: 18px;
    color: white;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none;
    padding: 18px 14px;
}

/*visit card*/
.visit-card {
    max-width: 658px;
    width: 100%;
    height: auto;
    border-radius: 24px;
    border: 2px solid #333333;
    background: #140E17;
    padding: 29px 72px;
    position: absolute;
    top: 74px;
    /*left: 171px;*/
    display: flex;
    gap: 80px;
}

.visit-card img {
    max-width: 183px;
    width: 100%;
    height: auto;
}

.text-area h3 {
    color: white;
    font-weight: 700;
    font-size: 31px;
    margin-top: 27px;
}

.text-area p {
    color: white;
    font-weight: 500;
    font-size: 11px;
    margin-top: 10px;
}

.visit-card-btn {
    background: #F9D69E;
    border-radius: 8px;
    max-width: 106px;
    width: 100%;
    margin-top: 29px;
    display: flex;
    align-items: center;
    padding: 8px 6px;
    text-decoration: none;
    color: #000000;
    font-size: 8px;
    font-weight: 700;
}

.contact-me {
    width: 100%;
    text-align: center;
}

.visit-card-btn img {
    width: 10px;
    height: 10px;
}

/*RATES SECTION*/
.rates .title,
.faq .title {
    color: #F5FA93;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    margin-left: 24px;
}

.rates-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    gap: 10px;
}

.card.premium {
    position: relative;
}
.premium-tag {
    position: absolute;
    top: -25px;
    right: 32px;
    max-width: 144px;
    width: 100%;
    background: black;
    border-radius: 18px;
    border: 1px solid #333333;
    padding: 14px;
}

.premium-tag span {
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
}
.rates-cards .card {
    background: #F5FA93;
    max-width: 484px;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.rates-cards .card h4 {
    color: black;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}

.big {
    font-size: 68px;
    font-weight: 800;
    line-height: 110px;
}

.per-month {
    font-size: 24px;
    font-weight: 400;
}

.service-description {
    color: black !important;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
}

.service-list {
    display: flex;
    gap: 8px;
    flex-direction: column;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    list-style: none;
    height: 120px;
}

.service-list li i {
    margin-right: 6px;
}

.rates-btn {
    max-width: 200px;
    width: 100%;
    border-radius: 18px;
    background: black;
    padding: 18px 14px;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    text-decoration: none;
}

.rates-btn span {
    color: white;
    font-weight: 700;
    font-size: 18px;
}

/*FAQ SECTION*/

.questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 32px;
}

.qa {
    border: 1px solid #333333;
    border-radius: 32px;
    padding: 24px;
}

.question {
    display: flex;
    justify-content: space-between;
}

.answer {
    margin-top: 32px;
    color: #76757B;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}
.question .title {
    color: white;
    font-weight: 500;
    margin-left: 0;
}

/*FOOTER*/
footer {
    display: flex;
    gap: 24px;
}

.footer-logo-socials,
.footer-links {
    max-width: 232px;
    width: 100%;
    height: auto;
}

.footer-logo-socials {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.socials {
    display: flex;
    gap: 20px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.chat-area {
    height: 220px;
    position: relative;
}

.chat {
    position: absolute;
    right: 0;
    top: 110px;
}

/*MQ*/

@media (max-width: 966px) {
    body {
        padding: 0 24px;
    }


    .menu,
    .profile-icon {
        display: none;
    }

    .header-wrapper {
        position: relative;

    }

    details {
        display: block;
        position: absolute;
        right: 24px;
    }

    /* On open: rotate into an "X" */
    details[open] .burger-line:nth-child(1) {
        transform: rotate(45deg);
    }

    details[open] .burger-line:nth-child(2) {
        transform: translateY(-5px) rotate(-45deg);
    }

    summary {
        width: 56px;
        height: 40px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        background: #76757B;
        padding: 17px 21px;
        border-radius: 16px;
    }

    details[open] {
        /*max-width: 1018px;*/
        width: 100%;
    }

    /* Close menu when clicking outside */
    details[open] summary {
        position: absolute;
        right: 0;
        z-index: 2;
    }
    /* Hide the default triangle icon */
    summary::-webkit-details-marker {
        display: none;
    }

    /* Creating burger lines */
    .burger-line {
        display: block;
        width: 14px;
        height: 2px;
        background-color: white;
        transition: transform 0.3s ease;
        transform-origin: center;
    }

    .summary-content {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 24px;
        background: #333333;
        padding-left: 30px;
        max-width: 1000px;
        width: 100%;
        margin: 0 24px 0 24px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
    }

    .sum-profile {
        padding-top: 78px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .divider {
        width: 100%;
        height: 1px;
        background: #76757B;
    }

    .summary-content a,
    .sum-profile span {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        padding: 24px;
    }
    .last-row {
        padding-bottom: 18px;
    }

    /*cta*/
    .cta-image-wrapper {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        z-index: 1;
    }
    .cta-image-wrapper img {
        opacity: 20%;
    }

    .cta-text {
        z-index: 2;
    }

    /*cards*/
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .card {
        max-width: 728px;
    }
}



@media (max-width: 768px) {

    .work-experience .left {
        max-width: 392px;
    }

    .work-experience-title {
        font-size: 12px;
        line-height: 14px;
    }

    .company .company-info .company-name {
        font-size: 13px;
        line-height: 15px;
    }

    .company .working-period,
    .company-link a, .position {
        font-size: 10px;
        line-height: 14px;
    }

    .company-card {
        max-width: 158px;
        padding: 15px 17px;
        border-radius: 15px;

    }

    .company-card h3 {
        font-size: 19px;
        line-height: 25px;
    }

    .company-card p {
        font-size: 9px;
        line-height: 12px;
    }

    .company-card-btn a {
        max-width: 85px;
        padding: 8px 6px;
        font-size: 8px;
        line-height: 11px;
    }

    .company-card-btn a img {
        width: 11px;
        height: 11px;
    }

    .visit-card {
        max-width: 474px;
        padding: 21px 52px;
    }

    .visit-card img {
        width: 131px;
        height: 131px;
    }

    .text-area {
        max-width: 180px;
    }

    .text-area h3 {
        color: white;
        font-weight: 700;
        font-size: 22px;
        margin-top: 19px;
        line-height: 110%;
    }

    .text-area p {
        font-size: 7px;
        margin-top: 7px;
    }

    .visit-card-btn {
        max-width: 76px;
    }

    .visit-card-btn img {
        width: 7px;
        height: 7px;
    }

    .rates-cards {
        gap: 32px;
    }

    footer {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 575px) {
    .cta-text h1 {
        font-size: 42px;
        font-weight: 700;
        line-height: 54px;
    }
    .cta-text p {
        font-size: 24px;
        line-height: 28px;
    }

    .cta-image {
        width: 257px;
        padding-right: 17px;
    }

    .cta-underline {
        left: 0;
    }
}

@media (max-width: 550px) {
    .cta-underline {
        bottom: 0;
        top: 100px;
    }
    .cta-h1 {
        width: 50px;
        height: auto;
    }
}
@media (max-width: 480px) {

    .cta-underline {
        bottom: 0;
        top: 160px;/*TODO check if it's better to change to the bottom*/
    }

    .cta-form {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 80px;
    }

    .work-experience {
        gap: 45px;
    }

    .work-experience-title {
        font-size: 6px;
        line-height: 6px;
    }

    .companies-list {
        gap: 0;
        padding: 6px;
        border-radius: 8px;
    }

    .company .company-info .company-name {
        font-size: 6px;
        line-height: 7px;
    }
    .company .working-period,
    .company-link a,
    .position {
        font-size: 5px;
        line-height: 6px;
    }
    .position {
        margin-top: 2px;
    }
    .company-card {

        max-width: 73px;
        padding: 7px;
        border-radius: 7px;
        gap: 4px;
    }

    .company-card h3 {
        font-size: 9px;
        line-height: 11px;
    }
    .company-card p {
        font-size: 4px;
        line-height: 5px;
    }

    .company-card-btn a {
        max-width: 39px;
        line-height: 5px;
        font-size: 4px;
        padding: 4px 5px;
        gap: 1px;
        border: 0.5px solid;
        border-radius: 4px;

    }

    .company-card-btn a img {
        width: 5px;
        height: 5px;
    }

    .visit-card {
        max-width: 220px;
        gap: 22px;
        padding: 10px 24px;
        border-radius: 8px;
        border: 1px solid #333333;
    }
    .visit-card img {
        width: 61px;
        height: 61px;
    }
    .visit-card h3 {
        font-size: 10px;
        font-weight: 800;
    }
    .visit-card p {
        font-size: 4px;
        line-height: 4px;
    }
    .visit-card-btn {
        max-width: 36px;
        font-size: 3px;
        line-height: 3px;
        border-radius: 3px;
        padding: 3px 2px;
        margin-top: 10px;
    }
    .visit-card-btn img {
        width: 4px;
        height: 4px;

    }

}
@media (max-width: 375px) {
    .cta-h1 {
        width: 26px;
        height: auto;
        right: 0;
    }




}